#container{
    display: grid;
    border: 1px solid black;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "main main aside"
                         "footer footer footer" 
                         "lg lg lg";
                         
}
.box{
    font-size: 20px;
    border: 1px solid black;
}
#janela1{
    background-color: #e50b01;
    grid-area: nav;
}
#janela2{
    background-color:#ff8b01;
    grid-area: header;
}
#janela3{
    background-color: yellow;
    grid-area: main;
}
#janela4{
    background-color: green;
    grid-area: aside;
}
#janela5{
    background-color: blue;
    grid-area: footer;
}
#janela6{
    background-color: purple;
    grid-area: lg;
}


